<form [formGroup]="forms" >
    <p>Choose a loan type from:</p>
    <ol>
        <li>home</li>
        <li>personal</li>
        <li>car</li>
        <li>education</li>
    </ol>
    <div class="form-group col-sm-3">
        <label for="loanType">Loan type</label>
        <input type="text" class="form-control" formControlName = "LoanTypeValue" name="loanType" >
    </div>
    <button class="btn btn-secondary confirm" (click)="onConfirm()" > Confirm </button>
</form>
<div *ngIf="confirmed">
    <div class="loan-details">
        <p>Here are the details for your selected loan:</p>
        <div [ngSwitch]="loanType" >
            <div *ngSwitchCase="'home'">
                <ul>Interest Rate: 6.7% per annum</ul>
                <ul>Processing Fee : 0.5% of loan amount</ul>
            </div>
            <div *ngSwitchCase="'personal'">
                <ul>Interest Rate: 15% per annum</ul>
                <ul>Processing Fee : 3% of loan amount</ul>
            </div>
            <div *ngSwitchCase="'car'">
                <ul>Interest Rate: 7% per annum</ul>
                <ul>Processing Fee : <b>No processing fee!!</b></ul>
            </div>
            <div *ngSwitchCase="'education'">
                <ul>Interest Rate: 9% per annum</ul>
                <ul>Processing Fee : 1% of loan amount</ul>
            </div>
        </div>
    </div>
</div>
<div class="user-input">
    <form [formGroup]="forms">
        <div class="form-group">
          <label for="loanAmount">Loan Amount (In Rupees)</label>
          <input type="number" class="form-control col-sm-3" formControlName = "loanAmount" >
        </div>
        <div class="form-group">
          <label for="loanDuration">Loan Tenure (In years)</label>
          <input type="number" class="form-control col-sm-3" formControlName = "loanDuration" >
        </div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
      </form>
</div>

