<button class="btn btn-primary logout" (click)="onLogout()" >Logout</button>
<table class="table" >
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Loan-type</th>
            <th>Interest-Rate</th>
            <th>Amount</th>
            <th>Loan-term</th>
            <th>Total Amount</th>
            <th>Approval status</th>
            <th>Accept</th>
            <th>Reject</th>
            <th>Feedback</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items ; let index = index">
            <td>{{item.fname+" "+item.lname}}</td>
            <td>{{item.loanType}}</td>
            <td>{{item.interestRate}} % p.a.</td>
            <td>Rs.{{item.loanAmount}}</td>
            <td>{{item.loanTerm}} years</td>
            <td>Rs.{{item.totalamount}}</td>
            <td>{{item.isApproved}}</td>
            <td ><button [disabled]="item.action || flag" class="btn btn-primary"(click)="onAccept(item.email,index)" >Accept</button></td>
            <td ><button [disabled]="item.action || flag" class="btn btn-danger"(click)="onReject()" >Reject</button></td>
            <div *ngIf="status && !item.action" >
                <div class="form-group col-sm-3 feedback">
                    <input type="text" class="form-control" id="feedback" [formControl]="feedbackval" >
                    <button class="btn btn-primary" (click)="onSubmit(item.email,index)" >Submit</button>
                </div>
            </div>
        </tr>
    </tbody>
</table>
