<section id="navbar">
  <div *ngIf="!isAdmin;else admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/registration">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item active">
            <button class="nav-link" (click)="onClick()" >Profile</button>
          </li>
      </ul>
    </nav>
 </div>
  <ng-template #admin>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
      </ul>
    </nav>
  </ng-template>
</section>
<router-outlet></router-outlet>