<section class=" gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form for loan application</h3>
              <form [formGroup]="forms">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="Name" formControlName="uname" class="form-control form-control-lg" />
                      <label class="form-label" for="Name">Name</label>
                    </div>
                  </div>
                  <div *ngIf="forms.get('uname')?.invalid && (forms.get('uname')?.dirty||forms.get('uname')?.touched)" class="alert alert-danger">
                    <div *ngIf="forms.get('uname')?.errors?.['required']">
                      Name is required!
                    </div>
                    <div *ngIf="forms.get('uname')?.errors?.['pattern']">
                      Use only alphabets and spaces!
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="dob"
                        name="dob"
                        id="birthdayDate"
                      />
                      <label for="birthdayDate" class="form-label">Birthday</label>
                    </div>
  
                  </div>
                  <div *ngIf="forms.get('dob')?.invalid && (forms.get('dob')?.dirty||forms.get('dob')?.touched)" class="alert alert-danger">
                    <div *ngIf="forms.get('dob')?.errors?.['required']">
                      Date of birth is required!
                    </div>
                    <div *ngIf="forms.get('dob')?.errors?.['pattern']">
                      Date of birth should be in the format of dd/mm/yyyy!
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        formControlName="gender"
                        name="gender"
                        id="Gender"
                      />
                      <label for="gender" class="form-label">Gender</label>
                    </div>
  
                  </div>
                  
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" formControlName="email" name="email" class="form-control form-control-lg" />
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div  *ngIf="forms.get('email')?.invalid && (forms.get('email')?.dirty||forms.get('email')?.touched)" class="alert alert-danger">
                    <div *ngIf="forms.get('email')?.errors?.['required']">
                      email id is required!
                    </div>
                    <div *ngIf="forms.get('email')?.errors?.['email']">
                      Enter correct email id!
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="password" id="password" formControlName="password" name="password" class="form-control form-control-lg" />
                      <label class="form-label" for="password">Password</label>
                    </div>
  
                  </div>
                  <div *ngIf="forms.get('password')?.touched && !forms.get('password')?.dirty" class="alert alert-danger">
                    Password is required!
                  </div>
                  <div *ngIf="forms.get('password')?.dirty && forms.get('password')?.invalid" class="alert alert-danger">
                    Password must be of length 8!
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        <input type="tel" id="phonenumber" formControlName="phno" name="phonenumber" class="form-control form-control-lg" />
                        <label class="form-label" for="phonenumber">Phone number</label>
                      </div>
    
                    </div>
                    <div *ngIf="forms.get('phno')?.invalid && (forms.get('phno')?.dirty||forms.get('phno')?.touched)" class="alert alert-danger">
                      <div *ngIf="forms.get('phno')?.errors?.['required']">
                       Phone number is required!
                      </div>
                      <div *ngIf="forms.get('phno')?.errors?.['pattern']">
                        Phone number should only contain digits!
                      </div>
                    </div>
                  </div>
                <div class="mt-4 pt-2">
                  <button class="btn btn-primary btn-lg" [disabled]="!forms.valid" type="submit" (click)="onSubmit()" value="Submit">Register</button>
                </div>
                <div *ngIf="userExists" class="alert alert-danger">
                  User already exists! Please login.
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>